@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Outfit:wght@300;400;600&display=swap');
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body{
    background-color: hsl(217, 54%, 11%);
    font-family:'Outfit', sans-serif;;
}
img{
    max-width: 100%;
    max-height: auto;
}
h1{
    color: hsl(0, 0%, 100%);
    font-weight: 600;
    font-size: 18px;
}
p{
    color: hsl(215, 51%, 70%);
    font-weight: 300;
    font-size: 18px;
}
/* .main-grid{
    display: grid;
    grid-template-rows: 15% 70% 15%;
} */
main{
    width: 100%;
    min-height: 100%;
    margin-top: 15%;
    margin-bottom: 15%;
}
.card{
    max-width: 25%;
    height: 70%;
    margin: auto;
    padding: 15px;
    background-color: hsl(216, 50%, 16%);
}

.grid-columns{
    display: grid;
    grid-template-rows: 50% 20% 15% 15%;
}
.image-card{
    border-radius: 20px;
}
.text-card{
    background-color: hsl(216, 50%, 16%);
}
.date-price{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(216, 50%, 16%);
    border-bottom: 1px solid hsl(215, 51%, 70%);
}
.eth, .clock{
    display: flex;
    align-items: center;
}
.eth img, .clock img{
    height: 50%;
}


.author{
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    background-color: hsl(216, 50%, 16%);
    align-items: center;
}
.name{
    margin-left: 20px;
    font-size: 18px;
    font-weight: 300;
}
.name span{
    font-weight: 600;
}
.pic-author{
    max-height: 80%;
}
/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Outfit:wght@300;400;600&display=swap');
body{
    background-color: hsl(217, 54%, 11%);
    font-family:'Outfit', sans-serif;;
}
main{
    width: 100%;
}
img{
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}
.name {
    color: hsl(215, 51%, 70%);
    font-size: 15px;
}
span{
    color: hsl(0, 0%, 100%);
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    max-width: 300px;
    height: auto;
    padding: 20px;
    background-color: hsl(216, 50%, 16%);
    border-radius: 10px;
}
.date-price{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    
}
.price{
    font-weight: 400;
    color: hsl(178, 100%, 50%);
}
.author{
    height: 30px;
    display: flex;
    margin: 5px 0;
    justify-content: space-evenly;
    
}
.name{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
} */

