@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Outfit:wght@300;400;600&display=swap');
html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body{
    background-color: hsl(217, 54%, 11%);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;    
}

img{
    display: block;
    width: 100%;
    border-radius: 1.5rem;
}
h1{
    font-family: 'Outfit', sans-serif;
    color: hsl(0, 0%, 100%);
    font-weight: 600;
}
h1:hover{
    color: hsl(178, 100%, 50%);
    cursor: pointer;
    transition: all .5s ease-in-out;
}
a{
    text-decoration: none;
    cursor: pointer;
    color: hsl(0, 0%, 100%);
    font-weight: 400;
}
p{
    font-family:'Outfit', sans-serif;
    font-size: 18px;
    color: hsl(215, 51%, 70%);
    font-weight: 300;
}
.name:hover{
    color: hsl(178, 100%, 50%);
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.card{
    display: flex;
    flex-direction: column;
    max-width: 340px;
    padding: 1.5rem;
    
    background-color: hsl(216, 50%, 16%);
    border-radius: 1.5rem;
}

/*  Imagen y transicion*/
.image-card{
    position: relative;
}
.hover-view{
    position: absolute;
    width: 100%;
}
.view{
    z-index: 1;
    top: 0;
    left: 0;
    object-fit:scale-down ;
    object-position: center center;
    opacity: 0;
}
.view:hover{
    opacity: 1;
    background-color: hsla(178, 100%, 50%, .5);
    transition: all .7s ease;
    
}

.text{
    margin-bottom: 0;
}
.text-card{
    height: 30%;

}

.info{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid hsla(215, 51%, 70%, .5);
}
.info-price, .info-time{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.price{
    font-weight: 400;
    color: hsl(178, 100%, 50%);
}

.eth, .clock{
    height: 2rem;
    width: auto;
    padding-right: 1rem;
}

.creator-card{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.pic-creator{
    height: 2rem;
    width: auto;
    margin-right: 1rem;
    border: 1px solid hsl(0, 0%, 100%);
    border-radius: 50px;
}





